/*Viewport*/
@import url("reset.css");

body {
	background-image: ("../images/LongRoad.png");
	object-position: absolute;
	
}

/*general*/

.container-fluid {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}


